/* App.css */
html,
body,
#root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.image-area {
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
}
